/*
	Produced 2019
	By https://github.com/amattu2
	Copy Alec M.
	License GNU Affero General Public License v3.0
*/

body, HTML {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	overflow-y: auto;
	min-height: 100%;
	height: unset;
}

body {
	background: #f2f2f2;
}

/* Loader */
.loader-bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.7);
	z-index: -1;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.15s ease-in;
}

.loader-bg.visible {
	z-index: 1010;
	opacity: 1;
}

.loader-case {
	background: #fff;
	box-shadow: 0 3px 12px rgba(0,0,0,.24);
	border-radius: 6px;
	width: 400px;
	padding: 45px;
	text-align: center;
}

.spinner {
	margin: 0 auto;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
}

.spinner > div {
	background-color: #262626;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

.progress-case {
	margin-top: 50px;
	user-select: none;
}

.progress-status {
	color: #3b3b3b;
}

.progress-bar {
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background: #f2f5f7;
	margin-top: 15px;
	position: relative;
	overflow: hidden;
}

.progress-bar:before {
	height: 100%;
	background: #FF5722;
	width: 0;
	display: block;
	content: "";
	transition: width 0.1s ease;
}

.progress-bar[data-progress='1']:before {width:1%}
.progress-bar[data-progress='2']:before {width:2%}
.progress-bar[data-progress='3']:before {width:3%}
.progress-bar[data-progress='4']:before {width:4%}
.progress-bar[data-progress='5']:before {width:5%}
.progress-bar[data-progress='6']:before {width:6%}
.progress-bar[data-progress='7']:before {width:7%}
.progress-bar[data-progress='8']:before {width:8%}
.progress-bar[data-progress='9']:before {width:9%}
.progress-bar[data-progress='10']:before {width:10%}
.progress-bar[data-progress='11']:before {width:11%}
.progress-bar[data-progress='12']:before {width:12%}
.progress-bar[data-progress='13']:before {width:13%}
.progress-bar[data-progress='14']:before {width:14%}
.progress-bar[data-progress='15']:before {width:15%}
.progress-bar[data-progress='16']:before {width:16%}
.progress-bar[data-progress='17']:before {width:17%}
.progress-bar[data-progress='18']:before {width:18%}
.progress-bar[data-progress='19']:before {width:19%}
.progress-bar[data-progress='20']:before {width:20%}
.progress-bar[data-progress='21']:before {width:21%}
.progress-bar[data-progress='22']:before {width:22%}
.progress-bar[data-progress='23']:before {width:23%}
.progress-bar[data-progress='24']:before {width:24%}
.progress-bar[data-progress='25']:before {width:25%}
.progress-bar[data-progress='26']:before {width:26%}
.progress-bar[data-progress='27']:before {width:27%}
.progress-bar[data-progress='28']:before {width:28%}
.progress-bar[data-progress='29']:before {width:29%}
.progress-bar[data-progress='30']:before {width:30%}
.progress-bar[data-progress='31']:before {width:31%}
.progress-bar[data-progress='32']:before {width:32%}
.progress-bar[data-progress='33']:before {width:33%}
.progress-bar[data-progress='34']:before {width:34%}
.progress-bar[data-progress='35']:before {width:35%}
.progress-bar[data-progress='36']:before {width:36%}
.progress-bar[data-progress='37']:before {width:37%}
.progress-bar[data-progress='38']:before {width:38%}
.progress-bar[data-progress='39']:before {width:39%}
.progress-bar[data-progress='40']:before {width:40%}
.progress-bar[data-progress='41']:before {width:41%}
.progress-bar[data-progress='42']:before {width:42%}
.progress-bar[data-progress='43']:before {width:43%}
.progress-bar[data-progress='44']:before {width:44%}
.progress-bar[data-progress='45']:before {width:45%}
.progress-bar[data-progress='46']:before {width:46%}
.progress-bar[data-progress='47']:before {width:47%}
.progress-bar[data-progress='48']:before {width:48%}
.progress-bar[data-progress='49']:before {width:49%}
.progress-bar[data-progress='50']:before {width:50%}
.progress-bar[data-progress='51']:before {width:51%}
.progress-bar[data-progress='52']:before {width:52%}
.progress-bar[data-progress='53']:before {width:53%}
.progress-bar[data-progress='54']:before {width:54%}
.progress-bar[data-progress='55']:before {width:55%}
.progress-bar[data-progress='56']:before {width:56%}
.progress-bar[data-progress='57']:before {width:57%}
.progress-bar[data-progress='58']:before {width:58%}
.progress-bar[data-progress='59']:before {width:59%}
.progress-bar[data-progress='60']:before {width:60%}
.progress-bar[data-progress='61']:before {width:61%}
.progress-bar[data-progress='62']:before {width:62%}
.progress-bar[data-progress='63']:before {width:63%}
.progress-bar[data-progress='64']:before {width:64%}
.progress-bar[data-progress='65']:before {width:65%}
.progress-bar[data-progress='66']:before {width:66%}
.progress-bar[data-progress='67']:before {width:67%}
.progress-bar[data-progress='68']:before {width:68%}
.progress-bar[data-progress='69']:before {width:69%}
.progress-bar[data-progress='70']:before {width:70%}
.progress-bar[data-progress='71']:before {width:71%}
.progress-bar[data-progress='72']:before {width:72%}
.progress-bar[data-progress='73']:before {width:73%}
.progress-bar[data-progress='74']:before {width:74%}
.progress-bar[data-progress='75']:before {width:75%}
.progress-bar[data-progress='76']:before {width:76%}
.progress-bar[data-progress='77']:before {width:77%}
.progress-bar[data-progress='78']:before {width:78%}
.progress-bar[data-progress='79']:before {width:79%}
.progress-bar[data-progress='80']:before {width:80%}
.progress-bar[data-progress='81']:before {width:81%}
.progress-bar[data-progress='82']:before {width:82%}
.progress-bar[data-progress='83']:before {width:83%}
.progress-bar[data-progress='84']:before {width:84%}
.progress-bar[data-progress='85']:before {width:85%}
.progress-bar[data-progress='86']:before {width:86%}
.progress-bar[data-progress='87']:before {width:87%}
.progress-bar[data-progress='88']:before {width:88%}
.progress-bar[data-progress='89']:before {width:89%}
.progress-bar[data-progress='90']:before {width:90%}
.progress-bar[data-progress='91']:before {width:91%}
.progress-bar[data-progress='92']:before {width:92%}
.progress-bar[data-progress='93']:before {width:93%}
.progress-bar[data-progress='94']:before {width:94%}
.progress-bar[data-progress='95']:before {width:95%}
.progress-bar[data-progress='96']:before {width:96%}
.progress-bar[data-progress='97']:before {width:97%}
.progress-bar[data-progress='98']:before {width:98%}
.progress-bar[data-progress='99']:before {width:99%}
.progress-bar[data-progress='100']:before {width:100%}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
	20% { border-radius: 1px; -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}
	20% {
		transform: scaleY(1.0);
		border-radius: 1px;
		-webkit-transform: scaleY(1.0);
	}
}
